*{
    margin: 0;
    padding: 0;
    color-scheme: light dark;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding:5vh
}

.about {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  align-items: center;
}
.me {
  width: 100vw;
  height: auto;
overflow: hidden;
}

@media (min-width: 768px) {
  .about {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 3vw; 
    padding: 10vw;
  }
}
