* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    overflow: auto;
    width: 100%;
    height: 95vh;
    background-color:   #4a7c3b;
    border-color: white;
}

.veld-container {
    position: relative; 
    width: 200vw;
    height: 95vh; 
    overflow-x: auto; 
    overflow-y: hidden; 
}

.rugby-veld {
    width: 200vw;
    height: 100%;
    background: linear-gradient(to bottom, 
        #4a7c3b 0%, 
        #5a9c4b 50%, 
        #4a7c3b 100%
    );
    position: relative;
    min-height: auto;
}

.veld-lines {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: 
        /* normale lijnen */
        linear-gradient(to right, white 1%, white 0.3%, transparent 0.3%),
        linear-gradient(to right, transparent 14.7%, white 14.7%, white 15%, transparent 15%),
        linear-gradient(to right, transparent 49.85%, white 49.85%, white 50.15%, transparent 50.15%),
        linear-gradient(to right, transparent 84.7%, white 84.7%, white 85%, transparent 85%),
        linear-gradient(to right, transparent 99.7%, white 99.7%, white 100%),
      /* zij lijnen */
        linear-gradient(to bottom, white 0%, white 1%, transparent 0.3%),
        linear-gradient(to bottom, transparent 99.7%, white 99.7%, white 100%);
}


/* player animations */

.veld-player {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #1303a5;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.veld-container > .veld-player:nth-child(2) {
    animation: speler1 4s ease-in-out forwards;
    animation-delay: 1s;
}

@keyframes speler1 {
    0%   { transform: translate(0, 0); }
    400% { transform: translate(15vw, 4vh);}
    70%{ transform: translate(15vw, 10vh);}
    100%{ transform: translate(15vw, 10vh)}
}

.veld-container > .veld-player:nth-child(3) {
    animation: speler2 4s ease-in-out forwards;
    animation-delay: 1.1s;
}

@keyframes speler2 {
    0% { transform: translate(0,0);}
    100%{transform:translate(15vw,1vh)}
    
}

.veld-container > .veld-player:nth-child(4){
    animation: speler3 4s ease-in-out forwards;
    animation-delay: 1s;
}

@keyframes speler3 {
    0% {transform: translate(0,0);}
    100%{transform:translate(14vw,-10vh)}
}

.veld-container > .veld-player:nth-child(5) {
    animation: speler4 4s ease-in-out forwards;
    animation-delay: 1.3s;
}

@keyframes speler4{
    0%{transform: translate(0,0);}
    50%{transform: translate(15vw,1vh);}
    100%{transform:translate(10vw, -10vh)}
}

.veld-container > .veld-player:nth-child(6){
    animation: speler5 4s ease-in-out forwards;
    animation-delay: 1.2s;
}

@keyframes speler5{
    0%{transform: translate(0,0);}
    50%{transform: translate(15vw,-5vh);}
    100%{transform:translate(8vw,-10vh)}
}

.veld-container > .veld-player:nth-child(7){
    animation: speler6 4s ease-in-out forwards;
    animation-delay: 1.4s;
}

@keyframes speler6{
    0%{transform: translate(0,0);}
    50%{transform: translate(15vw,-3vh);}
    100%{transform: translate(7vw,-10vh);}

}

.veld-container > .veld-player:nth-child(8){
    animation: speler7 4s ease-in-out forwards;
    animation-delay: 0.8s;
}

@keyframes speler7{
    0%{transform: translate(0,0);}
    50%{transform: translate(15vw,-5vh);}
    100%{transform: translate(6vw,-10vh);}
}

/* player animation team red */

.veld-red {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.veld-container > .veld-red:nth-child(9) {
    animation: red1 4s ease-in-out forwards;
    animation-delay: 1s;
}

@keyframes red1 {
    0%   { transform: translate(0, 0); }
    50% { transform: translate(0vw, 4vh);}
    100%{transform: translate(-1vw,8vh);}
}

.veld-container > .veld-red:nth-child(10) {
    animation: red2 4s ease-in-out forwards;
    animation-delay: 1.1s;
}

@keyframes red2 {
    0% { transform: translate(0,0);}
    50% {transform: translate(-5vw, 1vh); }
    100%{transform: translate(-7vw,1vh)}
}

.veld-container > .veld-red:nth-child(11){
    animation: red3 4s ease-in-out forwards;
    animation-delay: 1s;
}

@keyframes red3 {
    0% {transform: translate(0,0);}
    100% {transform: translate(-1vw, -8vh);}
}

.veld-container > .veld-red:nth-child(12) {
    animation: red4 4s ease-in-out forwards;
    animation-delay: 1.3s;
}

@keyframes red4{
    0%{transform: translate(0,0);}
    100%{transform: translate(0vw, -5vh);}
}

.veld-container > .veld-red:nth-child(13){
    animation: red5 4s ease-in-out forwards;
    animation-delay: 1.2s;
}

@keyframes red5{
    0%{transform: translate(0,0);}
    100%{transform: translate(0vw, -15vh);}
}

.veld-container > .veld-red:nth-child(14){
    animation: red6 4s ease-in-out forwards;
    animation-delay: 1.4s;
}

@keyframes red6{
    0%{transform: translate(0,0);}
    100%{transform: translate(0vw, -6vh);}
}

.veld-container > .veld-red:nth-child(15){
    animation: red7 4s ease-in-out forwards;
    animation-delay: 0.8s;
}

@keyframes red7{
    0%{transform: translate(0,0);}
    100%{transform: translate(0vw, -10vh);}
}

/* ball animation */

.ball{
    position: absolute;
    width: 30px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    border: 2px solid black;
}

.veld-container > .ball{
    animation: ball 4s ease-in-out forwards;
    animation-delay: 0.7s;
}

@keyframes ball{
    0% { transform: translate(0,0);}
    50% {transform: translate(15vw, -25vh);}
    100%{transform:translate(10vw, -10vh)}
}

/* responsive  */
@media (max-width: 768px) {
    .field-player {
        width: 15px;
        height: 15px;
    }
    
    .rugby-field {
        width: 400vw;
    }
}

@media (max-width: 480px){
    .field-player{
        width: 15px;
        height: 15px;
    }
    
    .rugby-field {
        width: 500vw;
    }
}